/* Header styling */
header {
    background: url('../../images/background.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 50px 0;  /* Adjusted padding for better spacing */
    text-align: center;
    position: relative;
}

/* Header Content Styling */
.header-content {
    max-width: 800px;  /* Limit the width of the content */
    margin: 0 auto;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);  /* Slightly transparent background */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

header p {
    font-size: 18px;
    font-style: italic;
    color: #f8f9fa;
}

/* Book List Styling */
.book-list {
    padding: 30px 0;
}

.book-item {
    width: 22%;
    margin: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Hover effect for book items */
.book-item:hover {
    transform: scale(1.05); /* Slight zoom effect */
}

.book-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.book-description {
    font-size: 14px;
    color: #666;
}

.book-author {
    font-size: 14px;
    color: #888;
}
